.team-orange {
    color: #FB7712;

}

.team-red {
    color: #890018;

}

.team-gray {
    color: #3C4353;

}

.team-brown {
    color: #370001;

}

.team-beige {
    color: #E7975C;

}
.team-tmm {
    color : #50ABC2
}
.team-yellow {
    color : #EDE02B;
}

.team-grey {
    color : #939393
}

.team-table-header {
    background: #353530;
    color : white;
}
.event-week {
    color : white;
    background: #3c3a3b;
    border-color: #54544c!important;
    text-align: center;
    vertical-align: middle !important;
}

.home-team-cls {
    position: relative;
}

.home-team-cls {
    border-right: 0px !important;
}
.away-team-cls {
    border-left: 0px !important;
}

.team-score {
    font-size: 33px;
    font-weight: bold;
    color: #55C6D1;
}

.home-team-cls:after {
    content: "VS";
    position: absolute;
    right: -13px;
    top: 20px;
    background: #640712;
    border-radius: 100%;
    padding: 5px;
    color: #F9F806;
    //border: solid 2px #0C7091;
    font-size: 10px;
    font-weight: bold;
}

.score-sep {
    position: relative;
}

.score-sep:after {
    content: "-";
    position: absolute;
    right: -13px;
    color: #1A2F39;
}


.caution-cls li, .goal-cls{
    color: black;
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
}

.caution-cls .yellow-card:before {
    content: '\00a0';
    width: 15px;
    height: 19px;
    background: #FBC412;
    display: inline-block;
    transform: rotate(25deg);
    position: absolute;
    border-radius: 2px;
    margin-left: -22px;
    top: -3px;
}

.caution-cls .red-card:before {
    content: '\00a0';
    width: 15px;
    height: 19px;
    background: #FF5722;
    display: inline-block;
    transform: rotate(25deg);
    position: absolute;
    border-radius: 2px;
    margin-left: -22px;
    top: -3px;
}

.goal-cls span:before {

    content: '\00a0';
    display: inline-block;
    transform: rotate(25deg);
    position: absolute;
    border-radius: 2px;
    margin-left: -22px;
    top: 0px;

    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABFElEQVQ4T6WTbU1DQRBFTxUADkABoABQACigdVAJWEABoABQACgoOMABVEGb8zKXbF7fywthkv2xH3Pmzt3dGf+M2UD+OXADXAH7wA/wDDwCb/3zfcADIOADuGwOvwAnwCuwaCEtwOTDqmzVOXBbwz3VqGDVQgKwqnRlmjgWgmzvIu0EYI9KVvppZQu9r2rp3f3jtlAASt4DPqtXDXxqZFyXkQF8AUfuB7CpZKsKGwPEB1V0ua0CXZaciKp1GZh1z9myhv8CXHBo0lRosko7s9tbMFkflPlehwLTxLOaqExPOmP778ArShyUHwK/m/U7YJn50EsMJHedN2LOzjsZ+wv2503YkibGn8m/MGXgzv6Qgj9Btq0CPREp3sZwAAAAAElFTkSuQmCC");

}

tr.team-table-header th {
    border-color: #54544c !important;
}

.mom-cls {
  position: relative;
}
.mom-cls span {
    font-weight: bold;
}

.goal-section {
    text-align: right;
}

.ref-list{
   padding : 0;
   margin : 0
}

.fouls-cls {
    padding-top : 15px;
    color: #E7262B;
    font-size: 14px;
    font-weight: bold;
}


