name: LightHouse CI
on:
  push:
    branches: [gatsby]
  workflow_dispatch:
jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 13.x
        uses: actions/setup-node@v1
        with:
          node-version: 13.x
      - name: npm install, build
        run: |
          npm install
          npm run build
      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.6.x
          lhci autorun \
            --collect.isSinglePageApplication=true \
            --collect.settings.chromeFlags=" --no-sandbox --disable-dev-shm-usage"
